{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>透明登录框</title>
    <link rel="stylesheet" href="testlogin.css">
{#    <link rel="stylesheet" href="{% static 'css-theme/icarus/style/login.css'%}">#}
</head>
<body>
    <div class="box">
        <a href="{% url 'homeapp:home' %}">
            <figure class="image is-128x128 mx-auto mb-2">
            <img class="avatar" src="{% static 'images/logos.png' %}"
                 alt="PPOffice" > </figure>
        </a>
        <h2>Login</h2>
        <form>
            <div class="inputbox">
                <input type="text" name="" required="">
                <label>Username</label>
            </div>
            <div class="inputbox">
                <input type="password" name=" " required="">
                <label>Password</label>
            </div>
            <input type="submit" name="" value="submit">
        </form>
    </div>
</body>
</html>