{% load static %}



<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>share</title>
    <link rel="SHORTCUT ICON" href="{% static 'images/logo.JPG' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css-theme/icarus/style/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/all.min.css" %}">
    <link rel="stylesheet" href="{% static 'md_css/colorful.css' %}">
{#    <link rel="stylesheet" href="{% static 'http_use/http_use.fontawesome.com_releases_v5.15.2_css_all.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'http_use/http_cdn.jsdelivr.net_npm_highlight.js_9.12.0_styles_atom-one-light.css' %}">#}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;600&amp;family=Source+Code+Pro">
    <script type="text/javascript" async=""
            src="{% static 'http_cdn_js/http_www.google-analytics.com_analytics.js' %}"></script>
    <style>body > .footer, body > .navbar, body > .section {
        opacity: 0
    }
    </style>

</head>


<body class="is-3-column  pace-done">

<div role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookieconsent:desc"
     class="cc-window cc-floating cc-type-info cc-theme-edgeless cc-bottom cc-left cc-color-override--1762072787 cc-invisible"
     style="display: none;"><!--googleoff: all--><span id="cookieconsent:desc" class="cc-message">This website uses cookies to improve your experience. <a
        aria-label="learn more about cookies" role="button" tabindex="0" class="cc-link"
        href="https://www.cookiesandyou.com/" rel="noopener noreferrer nofollow" target="_blank">Learn more</a></span>
    <div class="cc-compliance"><a aria-label="dismiss cookie message" role="button" tabindex="0"
                                  class="cc-btn cc-dismiss">Got it!</a></div><!--googleon: all-->
</div>
<div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99"
         style="transform: translate3d(100%, 0px, 0px);">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>

<nav class="navbar navbar-main"
     style="transition: opacity 0.3s ease-out 0s, transform 0.3s ease-out 0s; opacity: 1; transform: translateY(0px);">

    <div class="container">
        <div class="navbar-brand justify-content-center" style="float: left">
            <a class="navbar-item navbar-logo" href="{% url 'homeapp:home' %}">
                <img src="/static/images/logo.JPG" alt="Icarus" height="28"></a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'homeapp:home' %}"> Home</a>
                <a class="navbar-item" href="{% url 'homeapp:categories' %}">Categories</a>
                <a class="navbar-item" href="{% url 'homeapp:archives' %}">Archives</a>
                <a class="navbar-item" href="{% url 'homeapp:tags' %}">Tag</a>
                <a class="navbar-item" href="{% url 'homeapp:about' %}">About</a>
                <a class="navbar-item" href="{% url 'resourceapp:downloads' %}">Downloads</a>
            </div>
            <div class="navbar-end">

                <a class="navbar-item" target="_blank" rel="noopener" title="Discuss on Github"
                   href="https://github.com/weekstudy/sharewithyou/discussions">
                    <i class="fas fa-comments"></i>
                </a>

                <a class="navbar-item" target="_blank" rel="noopener" title="Dowaload on Github"
                   href="https://github.com/weekstudy/sharewithyou">
                    <i class="fab fa-github"></i>
                </a>

                <a class="navbar-item search" title="Search" href="{% url 'articlesapp:search' %}">
                    <i class="fas fa-search" ></i>

                </a>
                {% if user.is_authenticated %}
                    <!-- 如果用户已经登录，则显示用户名下拉框 -->
                    <a class="navbar-item" target="_blank" rel="noopener" title="New Blog"
                       href="{% url 'articlesapp:article_create' %}">
                        <i class="fas fa-file"></i>
                    </a>
                    <a class="navbar-item" target="_blank" rel="noopener" title="Sign out "
                       href="{% url "userprofile:logout" %}">
                        <i class="fas fa-user" style="color: springgreen"></i>
                    </a>
                {% else %}
                    <a class="navbar-item" target="_blank" rel="noopener" title="Sign in "
                       href="{% url 'userprofile:login' %}">
                        <i class="fas fa-user"></i>
                    </a>

                {% endif %}

            </div>
        </div>
    </div>
</nav>

<section>
    {#个人简介#}
    <div class="container">
        <div class="columns">
            {% block left_column %}
            {% endblock left_column %}

            {#文章内容#}
            {% block mid_column %}
            {% endblock mid_column %}
            {#最近文章#}
            {% block right-column %}
            {% endblock right-column %}
            {#归档#}
        </div>
    </div>

</section>

{% block footer %}
{% endblock footer %}

<script src="{% static 'http_cdn_js/http_cdn.jsdelivr.net_npm_jquery_3.3.1_dist_jquery.js' %}"></script>
<script src="{% static 'http_cdn_js/http_cdn.jsdelivr.net_npm_moment_2.22.2_min_moment-with-locales.js' %}"></script>
<script src="{% static 'http_cdn_js/http_cdn.jsdelivr.net_npm_clipboard_2.0.4_dist_clipboard.js' %}"
        defer=""></script>
<script>moment.locale("en");</script>

<script>var IcarusThemeSettings = {
    article: {
        highlight: {
            clipboard: true,
            fold: 'unfolded'
        }
    }
};</script>
<script src="{% static 'js/js/column.js' %}"></script>
<script src="{% static 'js/js/animation.js' %}"></script>

{#TODO 返回顶部按钮#}
<a id="back-to-top" title="Back to top" href="javascript:;" class="card has-text-centered rise-up fade-in"
   style="left: 1103.75px; width: 64px; bottom: 20px;">
    <i class="fas fa-chevron-up"></i>
</a>
<script src="{% static 'js/js/back_to_top.js' %}" defer=""></script>


<!--!-->
<!--!-->
<!--!-->

<script src="{% static 'http_cdn_js/http_cdn.jsdelivr.net_npm_cookieconsent_3.1.1_build_cookieconsent.min.js' %}"
        defer></script>
<script>window.addEventListener("load", () => {
    window.cookieconsent.initialise({
        type: "info",
        theme: "edgeless",
        static: false,
        position: "bottom-left",
        content: {
            message: "This website uses cookies to improve your experience.",
            dismiss: "Got it!",
            allow: "Allow cookies",
            deny: "Decline",
            link: "Learn more",
            policy: "Cookie Policy",
            href: "https://www.cookiesandyou.com/",
        },
        palette: {
            popup: {
                background: "#edeff5",
                text: "#838391"
            },
            button: {
                background: "#4b81e8"
            },
        },
    });
});</script>
<script src="{% static 'http_cdn_js/http_cdn.jsdelivr.net_npm_lightgallery_1.6.8_dist_js_lightgallery.js' %}"
        defer></script>
<script src="{% static 'http_cdn_js/http_cdn.jsdelivr.net_npm_justifiedGallery_3.7.0_dist_js_jquery.justifiedGallery.js' %}"
        defer></script>
<script>window.addEventListener("load", () => {
    if (typeof $.fn.lightGallery === 'function') {
        $('.article').lightGallery({selector: '.gallery-item'});
    }
    if (typeof $.fn.justifiedGallery === 'function') {
        if ($('.justified-gallery > p > .gallery-item').length) {
            $('.justified-gallery > p > .gallery-item').unwrap();
        }
        $('.justified-gallery').justifiedGallery();
    }
});</script>
<!--!-->
<!--!-->
{#<div id="outdated"><h6>Your browser is out-of-date!</h6>#}
{#    <p>Update your browser to view this website correctly.&amp;npsb;#}
{#        <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/">Update my#}
{#            browser now </a></p>#}
{#    <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">×</a></p></div>#}
<script src="{% static 'http_cdn_js/http_cdn.jsdelivr.net_npm_outdatedbrowser_1.1.5_outdatedbrowser_outdatedbrowser.js' %}"
        defer></script>
<script>window.addEventListener("load", function () {
    outdatedBrowser({
        bgColor: '#f25648',
        color: '#ffffff',
        lowerThan: 'object-fit' // display on IE11 or below
    });
});</script><!--!--><!--!--><!--!-->
<script src="{% static 'js/js/main.js' %}" defer></script>

{% block search %}
{% endblock search %}

<script src="{% static 'js/js/insight.js' %}" defer></script>

<script>
    // 这是content.json文件里面其实是所有文章
    document.addEventListener('DOMContentLoaded', function () {
    loadInsight({"contentUrl": ""}, {
        "hint": "Type something...",
        "untitled": "(Untitled)",
        "posts": "Posts",
        "pages": "Pages",
        "categories": "Categories",
        "tags": "Tags"
    });
});
</script>



</body>
</html>

