{% load static %}

<div class="level"><a class="level-item button is-primary is-rounded" href="https://github.com/weekstudy"
                      target="_blank" rel="noopener">Follow</a></div>
<div class="level is-mobile is-multiline">
    <a class="level-item button is-transparent is-marginless" target="_blank" rel="noopener" title="Github"
       href="https://github.com/weekstudy"><i class="fab fa-github fa-2x"></i>
    </a>
    <a class="level-item button is-transparent is-marginless" target="_blank" rel="noopener"
       title="wechat" href="{% static 'images/weixin.jpg' %}"><i class="fab fa-weixin fa-2x"></i>
    </a>
    <a class="level-item button is-transparent" target="_blank" rel="noopener"
       title="weibo" href="https://weibo.com/u/5034013030"><i class="fab fa-weibo fa-2x"></i> </a>
    <a title="Dribbble" href="mailto:zhouqiangweek@foxmail.com"><i class="fa fa-envelope fa-2x" style="color:grey"></i></a>
    <a class="level-item button is-transparent is-marginless" target="_blank" rel="noopener"
       title="RSS" href="{% url 'homeapp:home' %}"><i class="fas fa-rss fa-2x"></i>
    </a>
</div>